{
  "githubToken": "ghp_your_github_personal_access_token_here",
  "owner": "your_github_username",
  "repo": "your_repository_name",
  "branch": "main",
  "uploadBasePath": "images",
  "imageQuality": 80,
  "enableCompression": true,
  "uploadMode": "1",
  "customFolderName": "uploads",
  "concurrencyLimit": 5,
  "cdnProvider": "jsDelivr",
  "customCdnTemplate": "",
  "supportedImageExts": "jpg, jpeg, png, webp, gif, tiff, bmp, svg, avif, ico"
}
