{
  "githubToken": "",
  "owner": "",
  "repo": "",
  "branch": "main",
  "uploadBasePath": "",
  "imageQuality": 80,
  "enableCompression": true,
  "uploadMode": "1",
  "customFolderName": "wallpaper2",
  "concurrencyLimit": 2,
  "cdnProvider": "jsDelivr",
  "customCdnTemplate": "",
  "supportedImageExts": "jpg, jpeg, png, webp, gif, tiff, bmp, svg, avif, ico",
  "uploadEngine": "git"
}